.screen-main-header {
  background-color: var(--color-background-neutral-dark);
  color: inherit;
  isolation: isolate;
  position: relative;
  width: 100%;
}

.screen-main-header::before {
  background-color: var(--color-border-neutral);
  content: "";
  inset: 0;
  mask: url("../../assets/images/background-street-map.svg") top right / auto no-repeat;
  -webkit-mask: url("../../assets/images/background-street-map.svg") top right / auto no-repeat;
  pointer-events: none;
  position: absolute;
  z-index: -1;
}

.screen-main-header-nav-toggle {
  align-items: center;
  background: var(--color-border-neutral);
  border: 0;
  border-radius: 50%;
  color: inherit;
  cursor: pointer;
  display: inline-flex;
  font: inherit;
  height: 2.25rem;
  justify-content: center;
  margin: 1rem 0 0 2rem;
  width: 2.25rem;
}

.screen-main-header > .screen-content {
  padding-bottom: 2rem;
  padding-top: 1rem;
}

.screen-main-header .tab-group {
  margin: 1rem -.75rem -2rem;
}
