.page-sidebar {
  background: var(--color-background-dark);
  border-right: 1px solid var(--color-border);
  color: var(--color-foreground);
  height: 100vh;
  padding: 2rem;
  position: sticky;
  width: 16rem;
}

.page-sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
